<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="" android:versionCode="4231" android:versionName="1.6">
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
  <application android:label="Tap The Circle" android:icon="@drawable/icon" android:debuggable="true">
    <activity android:name="">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
  <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
  <uses-permission android:name="android.permission.BIND_INPUT_METHOD"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SET_ORIENTATION"/>
  <uses-permission android:name="android.permission.STATUS_BAR"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
